
.primary-colors {
    color: #BE52F2;
    color: 281 86% 64%;
    color: #DBA5F5;
    color: 281 80% 80%;
    color: #EEDFF2;
    color: 287 42% 91%;
}
.accent-colors {
    color: #6979F8;
    color: 233 91% 69%;
    color: #A5AFFB;
    color: 233 91% 82%;
    color: #E5E7FA;
    color: 234 68% 94%;
}
.semantic-colors {
    color: #FFCF5C;
    color: 42 100% 68%;
    color: #FFE29D;
    color: 42 100% 81%;
    color: #FFF8E7;
    color: 42 100% 95%;
    color: #FFA26B;
    color: 22 100% 71%;
    color: #FFC7A6;
    color: 22 100% 83%;
    color: #FFE8DA;
    color: 23 100% 93%;
    color: #0084F4;
    color: 208 100% 48%;
    color: #66B5F8;
    color: 208 91% 69%;
    color: #D5E9FA;
    color: 208 79% 91%;
    color: #00C48C;
    color: 163 100% 38%;
    color: #7DDFC3;
    color: 163 60% 68%;
    color: #D5F2EA;
    color: 163 53% 89%;
    color: #FF647C;
    color: 351 100% 70%;
    color: #FDAFBB;
    color: 351 95% 84%;
    color: #FBE4E8;
    color: 350 74% 94%;
}
.neutral-colors {
    color: #1A051D;
    color: 293 71% 7%;
    color: #3F3356;
    color: 261 26% 27%;
    color: #D0C9D6;
    color: 272 14% 81%;
    color: #ECE9F1;
    color: 263 22% 93%;
    color: #F7F5F9;
    color: 270 25% 97%;
    color: #FFFFFF;
    color: 0 0% 100%;
}