
.extraSmall {
    border-radius: 4px;
}
.small {
    border-radius: 8px;
}
.regular {
    border-radius: 12px;
}
.normal {
    border-radius: 16px;
}
.lightLarge {
    border-radius: 24px;
}
.circle {
    border-radius: 50%;
}