
.Heading-one {
    font-size: 5rem;
    font-variant: --scale--h1;
}
.Heading-two {
    font-size: 4rem;
    font-variant: --scale--h2;
}
.Heading-three {
    font-size: 3rem;
    font-variant: --scale--h3;
}
.Heading-four {
    font-size: 2.5rem;
    font-variant: --scale--h4;
}
.Heading-five {
    font-size: 2rem;
    font-variant: --scale--h5;
}
.Heading-six {
    font-size: 1.5rem;
    font-variant: --scale--h6;
}