
.rules-fonts-1 {
    --var__rule: --ff__oswald;
    --ff__rule: Oswald;
}
.rules-fonts-2 {
    --var__rule: --ff__roboto;
    --ff__rule: Roboto;
}
.rules-fonts-3 {
    --var__rule: --ff__raleway;
    --ff__rule: Raleway;
}
.rules-fonts-4 {
    --var__rule: --ff__montserrat;
    --ff__rule: Montserrat;
}