
.rules-palette-1 {
    --topic__rule: primary colors;
    --clr__rule: #242d2e;
    --hsl__rule: 186 12% 16%;
    --clr__rule: #647072;
    --hsl__rule: 189 7% 42%;
    --clr__rule: #a4aeb0;
    --hsl__rule: 190 7% 67%;
}
.rules-palette-2 {
    --topic__rule: accent colors;
    --clr__rule: #facd49;
    --hsl__rule: 45 95% 63%;
    --clr__rule: #5eb4e7;
    --hsl__rule: 202 74% 64%;
}
.rules-palette-3 {
    --topic__rule: background colors;
    --clr__rule: #f5f8fa;
    --hsl__rule: 204 33% 97%;
    --clr__rule: #ffffff;
    --hsl__rule: 0 0% 100%;
}