
.rules-text-h1 {
    --fc__rule: Heading 1;
    --ff__rule: Raleway;
    --fs__rule: 3rem;
    --fw__rule: 700;
}
.rules-text-h2 {
    --fc__rule: Heading 2;
    --ff__rule: Oswald;
    --fs__rule: 2.5rem;
    --fw__rule: 700;
}
.rules-hoverText-h5 {
    --fc__rule: Heading 5;
    --ff__rule: Roboto;
    --fs__rule: 1.5rem;
    --fw__rule: 400;
}
.rules-text-h6 {
    --fc__rule: Heading 6;
    --ff__rule: Roboto;
    --fs__rule: 0.875rem;
    --fw__rule: 700;
    --letter__rule: 0.5em;
}
.rules-progress-h6 {
    --fc__rule: Progress label;
    --ff__rule: Roboto;
    --fs__rule: 0.875rem;
    --fw__rule: 500;
    --letter__rule: 0.2em;
}
.rules-text-p1 {
    --fc__rule: Paragraph 1;
    --ff__rule: Montserrat;
    --fs__rule: 1.125rem;
    --fw__rule: 400;
}
.rules-text-p2 {
    --fc__rule: Paragraph 2;
    --ff__rule: Roboto;
    --fs__rule: 1rem;
    --fw__rule: 400;
}
