
.rules-spacing-1 {
    --spc__rule: 4px;
}
.rules-spacing-2 {
    --spc__rule: 8px;
}
.rules-spacing-3 {
    --spc__rule: 12px;
}
.rules-spacing-4 {
    --spc__rule: 16px;
}
.rules-spacing-5 {
    --spc__rule: 20px;
}
.rules-spacing-6 {
    --spc__rule: 24px;
}
.rules-spacing-7 {
    --spc__rule: 32px;
}
.rules-spacing-8 {
    --spc__rule: 64px;
}
.rules-spacing-9 {
    --spc__rule: 80px;
}
.rules-spacing-10 {
    --spc__rule: 112px;
}